{
  "ignore": ["package-lock.json", "package.json", "yarn.lock"],
  "linters": {
    '*.{scss,css}': ['npm run lint:styles', 'npm run format', 'git add'],
    '*.{json}': ['npm run format', 'git add'],
    './src/server/*.{ts,js}': ['npm run lint:server', 'npm run format', 'git add'],
    './src/client/*.{ts,js}': ['npm run lint:client', 'npm run format', 'git add'],
  }
}
